@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    /*section {
      width: 100%;
    }*/
    
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
  
  
  @media all and (max-width: 670px) {
    .header-right {
      display: none;
    }
      
    .menu-icon {
       display: block;
    }  

    .row .col ul li {
       font-size: 20px;
       opacity: 0.5;
    }
      
    .lesson {
      width: 100%;
    }

    .top-wrapper h1 {
      text-align: center;
      line-height: 35px;
      color: brown;
    }
  }
