@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .top-wrapper {
      width: 100%;
    }
    
    .top-wrapper h1 {
      width: 100%;
    }
    
    .top-wrapper p {
      width: 50%;
    }
    
    .row .col ul li {
      opacity: 0.5;
      color: white;
    }
    
    .row .col ul li a {
      font-size: 20px;
      opacity: 0.5;
      color: white;
      margin-bottom: 3px;
    }
    
    .header-right a {
      margin-left: 20px;
    }
    
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
  
  
  @media all and (max-width: 670px) {
    .header-right {
      display: none;
    }
      
    .menu-icon {
       display: block;
    }  
      
    .container {
       margin; 0;
       width: 100%;
    }

    .row .col ul li {
       font-size: 20px;
       opacity: 0.5;
       margin-left: 11px;
       color: white;
    }
      
     .row .col ul li a {
       display: none;
    }
      
    .lesson {
      width: 100%;
    }
      
    .top-wrapper {
       width: 100%;
    }

    .top-wrapper h1 {
      text-align: left;
      line-height: 35px;
      color: brown;
    }
        
    footer .row {
      border-top: 2px solid #eee;
    }
  }
