@media all and (max-width: 1000px) {
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    section {
      width: 100%;
    }
    
    .lesson {
      width: 50%;
      margin-bottom: 50px;
    }
  }
  
  
  @media all and (max-width: 670px) {
    .header-right {
      display: none;
    }
    
     logo {
      width: 100%;
    }
      
    span.menu-icon {
      display: block;
    }
    
    .icons-container {
       width: 100%;
      }
   
    .icons-container .icons h3{
      font-size: 2rem;
      text-align: left;
    }

    .icons-container .icons p{
      font-size: 1rem;
      text-align: left;
    }

    .top-wrapper {
      width: 100%;
    }
      
    .lesson {
      width: 100%;
    }

    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
      color: blue;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
      color: blue;
    }
      
    footer img {
      width: 100%;
    }
    
    footer {
      text-align: center;
    }
  }
